<app-add-button 
    [icon]="'add_box'" 
    [openCreationDialog]="openCreatePostDialog">
</app-add-button>
<mat-card class="content-header">
    <form class="search-container" [formGroup]="searchPostForm">
        <mat-form-field appearance="outline" class="search-field">
            <mat-label>Post's title</mat-label>
            <input matInput formControlName="searchStr">
        </mat-form-field>
    </form>
</mat-card>
<div class="posts-list">
    @for(post of posts; track $index){
        <app-single-post [post]="post"></app-single-post>
    }
</div>
<mat-paginator 
    [length]="totalPosts"
    [pageIndex]="page"
    [pageSize]="per_page"
    [pageSizeOptions]="page_size_options"
    (page)="onPageChange($event)"
    aria-label="Select page">
</mat-paginator> 
<!-- LOADING SPINNER -->
<app-spinner [id]="'get-posts'"[size]="75" ></app-spinner>
 