.user-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .user-posts-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        h3{
            margin-top: 32px;
            text-align: center;
        }
    }
}

app-single-post{
    width: 100%;
}