<mat-card class="user-card" *ngIf="user">
  <mat-card-header class="user-card-header">
    <h2>{{user.name}}</h2>
    <img mat-card-image style="max-width: 300px;max-height: 300px;" [src]="this.user.gender === 'male' ? this.maleImg : this.femaleImg" class="rounded-circle">
  </mat-card-header>
  <h4 class="user-status">{{user.status === 'active' ? 'Online' : 'Offline'}}</h4>
  <mat-card-content class="user-card-content">
    <p>{{user.email}}</p>
  </mat-card-content>
</mat-card>
                  
              