.post{
    margin: 0 auto;
}

.post-user-icon {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

mat-card-title h4{
    margin-bottom: 20px;
}

mat-card-content button{
    margin: 8px 0 !important;
}