<section class="home">
    <h1 class="home-title">Urban Harmony</h1>
    <div class="home-container">
        <div  class="home-inner">
            <div>
                <p class="home-paragraph">
                    Join us in shaping our cities' future. Share ideas and reports to protect heritage and build stronger social and environmental connections. Together, let's create urban centers of innovation, culture, and sustainable growth.
                </p>
                <div class="home-cta">
                    <button class="button" mat-raised-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active">
                        <span>GET STARTED</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="home-img-container">
            <img src="assets/images/home.jpg" alt="home-image"/>
        </div>
    </div>
</section>