.appbar {
    position: fixed;
    top:0;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
}

.shadow {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.082);
}

.appbar-links{
    display: flex;
    gap: 10px;
}

.menu{
    z-index: 9999;
}