<mat-toolbar class="shadow appbar">
    <div class="appbar-links">
        @if(isLoggedIn){
            <button mat-raised-button (click)="goToUsersPage()">
                <span>USERS</span><mat-icon>group</mat-icon></button>
            <button mat-raised-button (click)="goToPostsPage()">
                <span>POSTS</span> <mat-icon> forum</mat-icon>
            </button>
        }
    </div>
    <button mat-raised-button [matMenuTriggerFor]="menu">
        <span>MENU</span>
    </button>
    <mat-menu class="menu" #menu="matMenu">
        <button mat-menu-item *ngIf="isLoggedIn" (click)="goToUserProfile()">
            <span>{{currentUser?.name}}</span><mat-icon class="icon">account_circle</mat-icon>
        </button>
        <button mat-menu-item *ngIf="!isLoggedIn" (click)="goToLoginPage()">
            <span>Login</span> <mat-icon class="svg-icon" svgIcon="login"></mat-icon></button>
        <button mat-menu-item *ngIf="isLoggedIn" (click)="handleLogout()">
            <span>Logout</span> <mat-icon class="svg-icon" svgIcon="logout"></mat-icon>
        </button>
    </mat-menu>
</mat-toolbar>